.buildlog
.children
.DS_Store
.project
.pub/
.pub
.settings/com.google.dart.tools.core.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
build/
codegen
debug
deploy
out.js
out.js.map
out.js.deps
out
packages
packages/
pubspec.lock
Thumbs.db
*.bak
*.class
*.dart.js_
*.dart.js.map
*.dart.js.deps
*.local
*.log
*.precompiled.js
*.swp
*.tmp
~$*.pptx
~$*.docx
~$*.xlsx